$color1: #6200ee;
$color2: #3700b3;
$color3: #03dac5;
$font1: 'Montserrat', sans-serif;
$font2: 'Arimo',sans-serif;*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    background: url('../logo.png') fixed no-repeat center;
    font-family: $font1;
    font-size: 18px;
}
.space{
    height: 150px;
}